* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


/***********************navbar****************/

.navbar {
    padding: 22px 0px;
    background-color: transparent !important;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.secondary {
    background-color: #34495e !important;
}

.navbar ul li a {
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover {
    color: deepskyblue !important;
}

.navbar-toggle {
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
    color: white
}

.navbar-toggle:hover {
    background-color: deepskyblue !important;
}

.navbar ul li a.location {
    border: 1px solid white;
    border-radius: 50px;
}


/********************end***navbar****************/


/***********************slider****************/

.slider {
    width: 100%;
    height: 700px;
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-position: center;
    color: white
}

.slide-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: relative;
}

.slider-content {
    position: absolute;
    top: 39%;
    width: 100%;
}

.icons .fab {
    font-size: 35px;
    margin-right: 7px;
}

.cta-div {
    margin-top: 30px;
    margin-right: -10px
}

.btn1 {
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 1px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
}

.btn1:hover {
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn2 {
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 1px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
}

.btn2:hover {
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
}

.social-networks a {
    border: 1px solid white;
    padding: 9px;
    color: white;
    width: 39px;
    height: 39px;
    border-radius: 39px;
    margin-right: 3px;
    text-align: center;
    transition: all 0.5s ease-in;
    font-size: 20px;
}

.social-networks a:hover {
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
}

.slider .text,
.slider .typed-cursor {
    display: inline-block;
    font-size: 50px;
    text-transform: uppercase;
}

.primary {
    color: orangered;
}

.typed-cursor {
    opacity: 1;
    animation: brink 0.5s infinite;
}

@keyframes brink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/********************end***slider****************/


/***********************services****************/

.service-area {
    margin-top: 30px;
}

.service-area h2 {
    margin: 20px 15px;
    font-weight: 900;
    letter-spacing: 1px;
}

.service-area .section-title p {
    margin-bottom: 30px;
    font-size: 20px;
}

.service-area p {
    margin-bottom: 8px;
}

.service-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 05s ease 0s;
    z-index: 9;
    margin-top: 20pxm
}

.service-wrap::before,
.service-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: #34495e;
}

.service-wrap::before {
    top: -37px;
    left: 100%;
}

.service-wrap:hover::before {
    left: -27px;
    opacity: 1;
}

.service-wrap::after {
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover::after {
    right: -27px;
    opacity: 1;
}

.service-wrap:hover {
    color: white;
}

.service-wrap:hover h3 {
    color: white;
}

.service-wrap:hover p {
    color: white;
}

.service-icon i {
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.service-wrap:hover .service-icon i {
    color: white;
    transform: rotate(360deg);
}


/********************end***services****************/


/***********************work****************/

.work {
    margin-top: 25px;
}

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform 0.5s ease;
    width: 100%;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}


/********************end***work****************/


/***********************Team******************/

.team {
    margin-top: 40px;
}

.team .container h2 b {
    margin: 20px 15px;
    font-weight: 900;
    letter-spacing: 1px;
}

.team .container p {
    margin-bottom: 30px;
    font-size: 20px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
}

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 16px
}

.social-list i {
    font-size: 17px
}

.icon-gray {
    color: #64707b;
}

.owl-nav {
    display: none;
}

.owl-dots {
    margin-top: -10px;
    position: relative;
}


/********************************reviews**********************/

.reviews {
    background-image: url(../img/reviews.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.reviews .container h2 {
    margin: 50px 0 -4px 0;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
}

#reviews-content {
    padding: 40px 0;
}

.review img {
    max-width: 159px;
    margin: 0 auto 0 auto;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 50%;
}

.review blockquote {
    border: 0;
    font-family: tahoma;
    font-size: italic;
    color: white;
    padding: 5px 150px;
    position: relative;
}

.review blockquote p::before,
.review blockquote p::after {
    font-size: 60px;
    font-size: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.review blockquote p::before {
    content: "\201C";
    top: 50%;
    left: 180px;
}

.review blockquote p::after {
    content: "\201D";
    bottom: 30px;
    right: 180px;
}

.review blockquote h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.review blockquote h5 {
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}

.review blockquote p {
    padding: 34px 0;
}


/*********************general FAQ******************************/

.general .general-title h2 {
    margin: 50px 0 40px 0;
    font-weight: 900;
    letter-spacing: 1px;
}

.general .general-title p {
    margin-bottom: 30px;
    font-size: 20px;
}

.general .general-text {
    margin: 30px 0;
}

.general .general-imag img {
    margin: 16px 62px 16px;
}

.general .container .accordian-container {
    margin-bottom: 8px;
}

.general .container .accordian-container .head {
    background-color: #2e465f;
    position: relative;
    padding: 12px 15px;
    cursor: pointer;
}

.general .container .accordian-container .head .fas {
    position: absolute;
    right: 10px;
    top: 13px;
    color: #ffffff;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
}

.general .container .accordian-container .head h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}

.general .container .accordian-container.active .head {
    background-color: #34495e;
}

.general .container .accordian-container .body {
    display: none;
    padding: 15px;
    background-color: #dbdbd9;
    border: 1px solid #d0d6c8;
}

.general .container .accordian-container:nth-child(1) .body {
    display: block;
}

.general .container .accordian-container .body p {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
}


/***********************vidios*********************/

.vidios-sec {
    background-image: url(../img/slider-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.vidios-sec .play-btn {
    border: 1px solid white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    padding: 10px 10px 10px 20px;
    position: relative;
    left: 50%;
    top: 45vh;
    box-shadow: 0 0 8px 8px #07c9f1;
    transition: all 0.5s ease-in;
}

.vidios-sec .play-btn:hover {
    box-shadow: -5px -5px 30px 5px #0a77f0, 5px 5px 30px 5px #0a77f0;
}


/***********************bloges*************************/

.recent-blogs .container h2 {
    margin: 50px 0 40px 0;
    font-weight: 900;
    letter-spacing: 1px;
}

.recent-blogs .container p.dest {
    margin-bottom: 30px;
    font-size: 20px;
}

.recent-blogs .card .date {
    width: 80px;
    height: 80px;
    font-size: 16px;
    background: #EE8C18;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0
}

.recent-blogs .blogs .card {
    text-align: left
}

.recent-blogs .card-body ul {
    margin: 20px 0;
}

.recent-blogs .card-body ul li {
    margin: 0 10px;
}

.recent-blogs .card-body ul a {
    font-size: 18px;
}

.recent-blogs .card .btn {
    margin: 20px 0;
}


/****************************************************************/

.numbers {
    background-image: url(../img/bg-testimonials.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.color-fff {
    color: white;
}

.fs-35 {
    font-size: 70px;
}

.fw-700 {
    font-weight: bold;
}

.color-aaa {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
    color: white !important;
    letter-spacing: 2px;
}

.numbers .fas {
    font-size: 70px;
}


/********************contact***********************/

.contact h2 {
    margin: 50px 0 40px 0;
    font-weight: 900;
    letter-spacing: 1px;
}

.contact .form {
    text-align: center;
    margin: 30px 0;
}

.contact input {
    height: 42px;
    padding: 6px 12px;
    margin-bottom: 25px;
    border: 1px solid #000000;
    letter-spacing: 1px;
}

.contact input.name {
    margin-right: 40px;
}

.contact input.name,
.contact input.email {
    width: 48%;
}

.contact input.Subject {
    width: 100%;
}

.contact textarea {
    width: 100%;
    height: 120px;
    padding: 6px 12px;
    border: 1px solid #000000;
    letter-spacing: 1px;
}

.contact button {
    margin: 32px;
    padding: 10px 38px 10px;
    font-size: 18px;
    background: rgb(167, 161, 161);
}


/*********************information*********************/

.information {
    background: #14A0A1;
}

.information .info {
    margin: 20px 0;
    text-align: center;
}

.information .info i {
    font-size: 22px;
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 13px
}

.information .info p {
    margin-top: 15px;
    color: white;
}